*{
    box-sizing: border-box;
}

.agenda{
    padding: 20px;
    border: 0;
    min-height: 400px;
    color: red;

    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0;

    background:linear-gradient(to bottom, #0157eb98 90%, #3159d1a4), url("../../../public/imgs/hero1.jpg") no-repeat left top ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   border: 1px solid orange;

}

.coluna-esquerda{
    position: relative;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-horarios{
    background-color: #fff;
    list-style: none;
}

.lista-horarios{
    padding: 10px;
}
.lista-horarios > *{
    margin-bottom: 20px;
}
.horario-btn{
    background-color: #d9fdd3;
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
}

.horario-btn.ocupado{
    background-color:#f0f2f5;
    cursor: not-allowed;
}

.agenda-hora{
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
}

.criar-hora-btn{
    display: block;
    margin-top:20px ;
    width:100%;
    padding: 10px ;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}

.criar-horario-painel,.listagem-horario-painel{
    border: 1px solid red;
    padding: 10px 10px 10px;
}