/* .lista_clientes{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    border: 1px solid lime;
    height: 100%;
} */

.lista_clientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lista_clientes > *{
    margin: 10px;
    width:100%;
    min-width: 250px;
    max-width: 350px;
}